gestão-clínica-fábio-denarde/.wwebjs_auth
node_modules/
gestão-clínica-fábio-denarde/node_modules/
.wwebjs_auth_temp/
node_modules/
gestão-clínica-fábio-denarde/.wwebjs_auth/
gestão-clínica-fábio-denarde/.wwebjs_auth_temp/
gestão-clínica-fábio-denarde/firebase-key.json
.claude/settings.json
