node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

firebase-key*
.wwebjs*
*.json
temp_*
responsive-backups/

!package.json
!package-lock.json
!firebase-blueprint.json
!firebase-applet-config.json
!tsconfig.json
.vercel

client_secret*.json
